@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ff5b5b;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: #ff5b5b;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.logo-section {
  margin-bottom: 30px;
}

.heart-logo {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.title {
  font-family: 'Fredoka One', cursive;
  color: white;
  letter-spacing: 2px;
  font-size: 32px;
}

.form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
  text-decoration: none;
  color:#ff7676;
}

.btn {
  width: 48%;
  background-color: #ff7676;
  border: none;
  border-radius: 5px;
  padding: 8px 0;
  font-size: 12px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.2s;
   text-decoration: none;
}

.active {
  background-color: #ffffff; 
  color: #ff7676;
  width: 48%;
   border: none;
  border-radius: 5px;
  padding: 8px 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

form {
  width: 100%;
  max-width: 350px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  color: #333;
}

input::placeholder {
  color: #777;
  text-align: center;
}

.forgot {
  font-size: 9px;
  color: white;
  text-decoration: none;
  display: block;
  text-align: right;
  margin-bottom: 15px;
}

.register-btn {
  width: 100%;
  background-color: white;
  color: #ff5b5b;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.register-btn:hover {
  opacity: 0.9;
}

.login-text {
  font-size: 10px;
  color: white;
  margin-top: 10px;
}

.login-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 450px) {
  .container {
    max-width: 90%;
    padding: 10px;
  }

  .switch-buttons,
  form {
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 26px;
  }

  input {
    font-size: 11px;
  }
}
