@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
}

.image-section {
  margin-top: 10vh;
}

.illustration {
  width: 100%;
  
  height: auto;
  margin: 0 auto;
  display: block;
}

.text-section {
  margin-top: 30px;
}

.title {
  display: inline-block;
  background-color: #ff5b5b;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}

.description {
  font-size: 12px;
  color: #444;
  line-height: 1.6;
  padding: 0 10px;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 30px;
}

.skip-btn,
.next-btn {
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px 20px;
  font-size: 12px;
}

.skip-btn {
  background-color: #f3f3f3;
  color: #555;
}

.skip-btn:hover {
  background-color: #e2e2e2;
}

.next-btn {
  background-color: #ff5b5b;
  color: white;
}

.next-btn:hover {
  background-color: #ff7676;
}


.dots {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #e2e2e2;
}

.dot.active {
  background-color: #ff5b5b;
}

@media (max-width: 400px) {
  .container {
    max-width: 90%;
    padding: 10px;
  }

  .illustration {
    max-width: 220px;
  }

  .description {
    font-size: 11px;
  }

  .skip-btn,
  .next-btn {
    font-size: 11px;
    padding: 7px 16px;
  }
}
