body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #ff5c5c;
  width: 280px;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
}

.logo .circle {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo .heart {
  color: #ff5c5c;
  font-size: 32px;
}

.logo h1 {
  color: white;
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Comic Sans MS', cursive;
}
.center {
    text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  
}
.illustration {
    width: 40%;
    height: auto;
    margin-bottom: 20px;
}

.tabs button {
  background-color: #ff6f6f;
  border: none;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 5px;
  font-weight: bold;
  
  
}

.tabs .active {
  background-color: #ffffff;
  color: #ff5c5c;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 80%;
  padding: 8px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
}

.forgot {
  color: white;
  font-size: 10px;
  text-decoration: none;
  margin: 5px 0;
  display: block;
}

.register-btn {
  background-color: white;
  color: #ff5c5c;
  border: none;
  padding: 10px 0;
  width: 80%;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.bottom-text {
  color: white;
  font-size: 11px;
  margin-top: 15px;
}

.bottom-text a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
